.services-section {
  padding: 40px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.services-section h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  animation: slideIn 1s ease-in-out forwards;
  font-weight: 800;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #09487c;
  margin-bottom: 20px;
}

.service-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  border: none;
  margin: 10px;
  position: relative;
  overflow: hidden;
  height: 390px !important;
  background: white;
  border-radius: 10px;
  border-color: #09487c !important;
  border-width: 4px !important;
}

.service-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: yellow;
  z-index: 1;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.titleServices {
  color: rgb(46, 45, 45) !important;
  font-weight: 600 !important;
  font-size: 30px !important;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.service-card:hover::before {
  opacity: 1;
}

.service-card h3 {
  font-size: 1.5rem;
  z-index: 2;
  position: relative;
}

.service-card p {
  color: #6c757d;
  z-index: 2;
  position: relative;
}

.service-card {
  animation: fadeInUp 0.5s ease forwards;
}

.service-card:nth-child(1) {
  animation-delay: 0.1s;
}

.service-card:nth-child(2) {
  animation-delay: 0.2s;
}

.service-card:nth-child(3) {
  animation-delay: 0.3s;
}
